.admin-body{
    height:auto;
    flex-wrap: wrap;
    background-color:FFF6E9;
}
.admin-body .header{
    height:100vh;
    width: 14%;
    font-size: 21px;
    border: 1px solid #0022ff;
    background-color:#151b47;
padding-top: 34px;
position: fixed;

}
.admin-body .header div{
    text-decoration: none;
    color: aliceblue;
    outline: #0022ff;
    padding-top: 5px;
    text-align:calc(23px);
    padding-left: 14px;
    width:100%;
    height:8%;
    border-bottom: 1px solid white;
}
.admin-body .header div:hover{
background-color:rgb(142, 98, 59) ;
}
.dashboard {
    width:98%;
    height:97vh;
    padding-left: 15%;
    padding-right: 20px;
    padding-top: 28px;
    
}
.Appbar{
    background-color: rgb(79, 97, 186);
    position:relative;
    left:14%;
    width:86%;
    padding-left: 24px;
    padding-top: 10px;
    display: flex;
    height:8vh;
    
}
.Appbar input{
    width:30%;
    position: fi;
    margin-left: 44%;
    height: 42px;
    border:1px solid transparent;
    outline: transparent;
    border-radius: 6px;
    padding-left: 12px;
}
.Appbar p{
    font-size: 21px;
    color: aliceblue;
}
.dashboard .st{
    display: flex;
    position: relative;
    top:2%;
}
.dashboard .st h1{
    font-size: 40px;
}
.dashboard .st div{
    height: 13vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.566);
    padding-left: 26px;
    padding-top: 16px;
    margin-left: 17px;
    border-radius: 7px;
    width:21vw;
}
.admin-status{
    position: relative;
    top:10%;
    display: flex;
    height: 22vw;
    margin-left: 17px;
    padding-left: 26px;
    padding-top: 16px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.566);
    width:40vw;
}
.admin-chart{
    height: 46vh;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.566);
    padding-top: 20px;
    border-radius: 7px;
    padding-left: 36px;
    left:53%;
    top: -40%;
    width:38.5vw;
}