body{
  background-color:red ;
}
.hcontainer{
  width:100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
  
  background-color:red ;
}
.header{
  height: 40%;
  background-color: #6ab373;
  width:100%;
  position: absolute;
  top:0;
  left:0;
}
.title{
  font-size: 23px;
  display: flex;
}
.title p{
  margin-top: 32px;
  margin-left: 6px;
}


.header h2{
  margin-top:50px;
  font-size:32px;
  font-weight: 600;
  color: aliceblue;
  text-shadow:#0f0c0c;
}
.header select{
  position: relative;
  left:21%;
  width:20%;
  height: 42px;
  border: 1px solid grey;  
}
.header input{
position: relative;
left:21%;
width:20%;
height: 42px;
border: 1px solid grey;
}
.searb{
background-color: #FF8343;
height: 42px;
width: 100px;
position:relative;
left:67.8%;
float:left;
padding-top: 7px;
text-align:center;
font-size: 18px;

}
.search{
  width:40%;
  height:15%;
  position: relative;
  left:30%;
}
.hcenter{
width: 96%;
position: absolute;
top:41%;
left:0;
}
.hcenter .howitworks{
  position: absolute;
  width:100%;
  top:158%;
  display:block;
  font-size: 31px;
}
.hcenter .howitworks p{
  text-align: center;
  margin-bottom: 62px;
}
.hcenter .howitworks pre{
  font-size: 14px;
}
.hcenter .howitworks div{
  
}
.hcenter .howitworks .hw-container{
  display: flex;
  position: relative;
  
}

 .hw-container div{
  width:21vw;
  height: 18vw;
  padding-left: 10px;
  margin-left:129px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.566);
}
.hw-container div h4{
margin-left: 65px;
}
.hw-container div p{
  font-size: 16px;
  font-weight: 500;
  color:#426245;
  
}
.hcenter .howitworks div img{
width: 120px;
margin-left: 70px;
margin-top: 15px;
height: 120px;
}

table{
  width:100%;
  padding: 10px;
  overflow-x:hidden;
  margin-top: 28px;
  margin-left: 23px;
  border-collapse: collapse;
}
td img{
  width:75px;
  height:75px;
  transition: 0.3s ease-in-out;
}
td img:hover{
  transform: scale(1.3);
}
td{
  padding: 20px;
  margin-left: 40x;
  border-spacing: 60;
  text-align: center;
  overflow-x: hidden;
}
.title img{
  height: 40px;
  width:40px;
  margin-top: 30px;
  margin-left: 38px;
}
.hcenter span {
font-size: 34px;
position: absolute;
left:40%;
top:54%;
}
.vender{
width:100%;
position: relative;
top:30vh;
}
.vender td img{
width:290px;
height:210px;
transition: 0.3s ease-in-out;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.566);

border-radius: 5px;
}
.vender td img:hover{
transform: scale(1.2);
}
.vender td{
padding: 10px;
margin-left: 10x;
border-spacing: 60;
text-align: center;
}
.title img{
height: 40px;
width:40px;
margin-top: 30px;
margin-left: 38px;
}
.footer{
width: 100%;
background-color: #ece2e2;
color: rgb(232, 214, 214);
padding: 10px 0;
height: 40%;
position:absolute;
top:220%;
left:0%;
}

.contact-info {
float: left;
position: relative;
left:8%;
margin-left: 70px;
}
.contact-info h4{
text-align: center;
}
.footer span{
position: relative;
margin-left: 5%;
margin-top: 25%;
text-align: center;
}
.formore{
display:flex;
position: absolute;
background-color: #0f0c0c;

}
.formore h4{
position: relative;
left:6%;
}
.formore div{
margin-right: 35px;
margin-top: 60px;
}
